<body>
  <div id='entete' class='blockquote'>
    <div class='container-fluid'>
      <div class='row cell-padding-1 fs-3'>
        <div class='col'>
          <span class='ms-4'> <a href="./index.html" class="link1">改訂 ゲーム</a> <img id="france" src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Ensign_of_France.svg/langfr-225px-Ensign_of_France.svg.png' class='ms-2 small-img'></span>
        </div>
        <div class='col text-end'>
          <span class='mx-4' id="profil">Profil <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png" class='ms-2 small-img' alt=""></span>
        </div>
      </div>
      <div class='row cell-text-center cell-border cell-padding-1' id='mmu'>
        <div class='col nav-btn'>
          <input type="checkbox" id="kanji-mmu" class="toggle">
          <label for='kanji-mmu'>Kanji</label><br>
          <div class="deroulant">
            <ul>
              <li> <a href="./kanji-game.html">Jeu des kanji</a></li>
              <li>Révision</li>
            </ul>
          </div>
        </div>
        <div class='col nav-btn'>
          <input type="checkbox" id="trad-mmu" class="toggle">
          <label for='trad-mmu'>Traduction</label><br>
          <div class="deroulant">
            <ul>
              <li>Test</li>
            </ul>
          </div>  
        </div>
        <div class='col nav-btn'>
          <input type="checkbox" id="exp-mmu" class="toggle">
          <label for='exp-mmu'>Expression</label><br>
          <div class="deroulant">
            <ul>
              <li>Test</li>
            </ul>
          </div>  
        </div>
        <div class='col nav-btn'>
          <input type="checkbox" id="shiri-mmu" class="toggle">
          <label for='shiri-mmu'>Shiritori</label><br>
          <div class="deroulant">
            <ul>
              <li>Test</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class='bg-dark text-center text-white' id='footer'>
  <div class='text-center p-3' style='background-color: #34495e;'>
    © 2020 Copyright:
    <a class='text-white' href='https://mdbootstrap.com/'>MDBootstrap.com</a>
  </div>
</footer>

</body>