<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../style/main.css">
  <title>Accueil</title>
</head>
<body>
<!-- Navbar -->
<div id="entete" class="blockquote d-none">
  <div class="container-fluid">
    <div class="row cell-padding-1 fs-3">
      <div class="col">
        <span class="ms-4">改訂 ゲーム <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Ensign_of_France.svg/langfr-225px-Ensign_of_France.svg.png" id="france-dp" class="ms-2"></span>
      </div>
      <div class="col text-end">
        <span class="mx-4">Profil </span>
      </div>
    </div>
    <div class="row cell-text-center cell-border cell-padding-1" id="mmu">
      <div class="col">
        <label for="">Kanji</label>
      </div>
      <div class="col">
        <label for="">Traduction</label>
      </div>
      <div class="col">
        <label for="">Expression</label>
      </div>
      <div class="col">
        <label for="">Shiritori</label>
      </div>
    </div>
  </div>
</div>
<!-- Navbar -->
<style>
  .bounce {
  outline: 0;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}
  @keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
</style>
<!-- Contenu -->
<div id="content">
  <div class="row" style="width: 100%;">
    <div id="tablePlayer" class="d-none">
    </div>
    <div id="cardGame" class="game-container1 text-center d-none">
      <label id="chrono" class="chronometre"></label>
      <div class="d-none mt-4" id="wait-game">
        <div class="card">
          <div class="card-header" style="font-size: 26px;">En attente de la fin de la manche ...</div>
        </div>
      </div>
      <div class="card mt-4 shadow-lg p-3 mb-5 bg-body rounded" id="kanji">
        <div id="crown-animation" class="d-none">
          <img id="crown" src="https://cdn0.iconfinder.com/data/icons/game-1-3/50/49-512.png" alt="">
          <p id="winner">Wecko</p>
        </div>
        <img id="imgKanji" class="mt-5 shadow-lg p-3 mb-5 bg-body rounded" src="" alt="">
        <p id="resultat"></p>
        <p id="reponse"></p>
      </div>
    </div>
    <form method="POST" id="formKanji" class="mt-4">
      <div id="response" class="row d-flex justify-content-center d-none">
      <div class="mb-3 col-5">
          <input type="text" class="form-control" id="responseInput" placeholder="Réponse" required>
      </div>
      <button class="btn btn-primary col-auto" style="height: 100%;" type="submit">Valider</button>
    </div>
    </form>
    <div class="col-sm-12 col-md-6 offset-md-3" style="margin-top: 10%;">

        <div class="alert d-none" role="alert" id="turn-message"></div>

        <div class="card mb-3" id="user-card">
            <div class="card-body">
                <form method="POST" id="form">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" minlength="2" maxlength="20"
                            placeholder="Saisir votre nom d'utilisateur" required>
                    </div>
                    <div class="d-inline-flex">
                    <button class="btn btn-primary" id="start" type="submit">Créer un salon</button>
                      <div id="chkPrivate">
                        <input type="checkbox" name="private" id="private" class="ms-2">
                        <label for="private">privée</label>
                      </div>

                    </div>

                </form>

                <form method="POST" id="formCode" class="mt-4">
                  <div class="row">
                  <div class="mb-3 col-3">
                      <input type="text" class="form-control" id="codeParty" minlength="2" maxlength="20"
                          placeholder="Code" required>
                  </div>
                  <button class="btn btn-primary col-auto" style="height: 100%;" type="submit">Rejoindre</button>
                </div>
                </form>
            </div>
          </div>
          <div class="card mb-3 d-none" id="rooms-card">
            <div class="card-header">Salon disponible</div>
            <ul class="list-group liste-group-flush" id="rooms-list"></ul>
            </div>

          <div class="d-none" id="waiting-area">

            <div class="card mb-3">
                <div class="card-header">En attente d'un autre joueur</div>
                <div class="card-body mx-auto">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body text-center">
                    Code de la partie :
                    <span id="link-to-share"></span>
                </div>
            </div>
        </div>
      <div class="text-center d-none mt-2" id="restart-area">
          <input class="btn btn-primary" id="restart" type="button" value="Rejouer">
      </div>

      <div class="text-center d-none mt-4" id="ready-area">
        <input class="btn btn-success" id="readyBtn" type="button" onclick="ready()" value="Prêt !">
    </div>

  </div>
    </div>
</div>
<!-- Contenu -->

<!-- Footer -->
<footer class="bg-dark text-center text-white" id="footer">
  <div class="text-center p-3" style="background-color: #34495e;">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
<!-- Footer -->
<script src="./../jquery/jquery.min.js"></script>
<script src="./../bootstrap/js/bootstrap.min.js"></script>
<script src="./../socket.io/socket.io.js"></script>
<script src="./../js/kanji.js"></script>
<script src="./../js/autoload.js"></script>
<script src="./../js/index.js"></script>
</body>
</html>
