<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanji-game</title>
</head>

<body>

  <div id='content' class="text-center">
    <div id="score">
      Score <br>
      <div class="ligne"></div>
    </div>
    <div class="game-container1">
      <label class="chronometre">2</label>
      <div class="card mt-4 shadow-lg p-3 mb-5 bg-body rounded">
        <img class="mt-5 shadow-lg p-3 mb-5 bg-body rounded" src="https://lh3.googleusercontent.com/proxy/oQVRZE17bBV4LHhjlvKl6-HxvMZyz3VZYOo-GGRPz1CEtEFf2poCEL1UGY1Wsxx3amPVM548hVXZw927an7K4Rv0sqofjaCerzV_guGVDmxDbR0r6CTASJltNaxFN94Fy0IO8A" alt="">
        <p id="resultat">Mauvaise réponse</p>
      </div>

      <input type="password" class="form-control mt-4 shadow p-3 mb-5 bg-body rounded" id="reponse" placeholder="Entrer votre réponse">
    </div>
  </div>

</body>

</html>